<mat-sidenav-container class="app-shell">
  <mat-sidenav class="app-sidenav" [(opened)]="isSidenavOpen" mode="side">
    <mat-toolbar color="primary" class="sidenav-header"> Menu </mat-toolbar>

    <mat-nav-list>
      <button mat-list-item routerLink="/">Home</button>

      <button mat-list-item routerLink="/products">Products</button>
      <button mat-list-item routerLink="/cart">Cart</button>
      <button mat-list-item routerLink="/about">About</button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button class="menu-btn" (click)="isSidenavOpen = !isSidenavOpen">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="logo">Small Vintage Shop</span>

      <span class="spacer"></span>

      <button
        mat-icon-button
        routerLink="/cart"
        [matBadge]="cartCount()"
        [matBadgeHidden]="cartCount() === 0"
        matBadgeOverlap="false"
        aria-label="Cart"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar>

    <main class="app-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
